body {
    background-color: rgb(39, 39, 39);
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    color: white;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100px;
}

p {
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #4faaff;
    font-style: normal;
}